@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root{
    --bg-color: #32012F;
    --primary-color: #E2DFD0;
    --secondary-color: #F97300;
    --font: "Nunito", system-ui;
    }

    body{
        background-color: var(--bg-color);
        
    }